$accent_color: #c3935b;
$accent_hover:#644521;
$text_color: #777;
$text_color_dark: #242424;
$bg_color: #f4f4f4;
$white: #fff;
$black: #000;
$border_color:#dfdfdf;
$header_bg_color: #040404;
$footer_bg_color: #eaeaea;
$button_bg: #3c3c3c;
